<ion-header>
  <ion-toolbar>
    <ion-title>sticker-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let booking of Bookings; let i = index" class="sticker-list">
      <ion-label [ngStyle]="{'color':booking.printed == false ? 'black' : 'blue' }">
        <ion-checkbox color="primary" slot="start" (ionChange)="formSubmit($event, booking)"></ion-checkbox>
        <h5>
          <ion-icon name="person"></ion-icon> {{booking.name}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{booking.mobile}}
        </p>
        <p>
          <ion-icon name="mail"></ion-icon> {{booking.email}} 
        </p>
        <p>
          <ion-icon name="alarm"></ion-icon> {{booking.create_date}}
        </p>
        <p>
          <ion-icon name="alarm"></ion-icon> {{booking.expired_date}}
        </p>
      </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button center bottom (click)='getCheckedBoxes(); reloadPage()' color='dark'><ion-icon name="print"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
