<ion-header>
  <ion-toolbar>
    <ion-title>
      編輯平安燈資料
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="updateBookingForm" (ngSubmit)="updateForm()">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">燈號</ion-label>
          <ion-input formControlName="serial_number" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">奉獻者姓名</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">奉獻金額</ion-label>
          <ion-input formControlName="money" type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">起始日期</ion-label>
          <ion-datetime formControlName="create_date" displayFormat="YYYY/MM/DD" max="2030-12-31" required>
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">終止日期</ion-label>
          <ion-datetime formControlName="expired_date" displayFormat="YYYY/MM/DD" max="2030-12-31" required>
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">聯絡電話</ion-label>
          <ion-input formControlName="mobile" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating" font-size="1px">郵遞區號</ion-label>
          <ion-input formControlName="address_number" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">地址</ion-label>
          <ion-input formControlName="address" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <!-- <ion-row>
      <ion-list>
        <ion-radio-group formControlName="option">
          <ion-list-header>
            <ion-label>祈禱意向</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>祈求平安康復</ion-label>
            <ion-radio slot="start" value="祈求平安康復"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>祈求事業順利</ion-label>
            <ion-radio slot="start" value="祈求事業順利"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>祈求學業進步</ion-label>
            <ion-radio slot="start" value="祈求學業進步"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>祈求家庭和樂</ion-label>
            <ion-radio slot="start" value="祈求家庭和樂"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>其他祈求意象,請在下方空格填寫</ion-label>
            <ion-radio slot="start" value="其他"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <ion-item style="width: auto;">
          <ion-label position="floating">祈禱意向</ion-label>
          <ion-select formControlName="option" multiple="true" cancelText="取消" okText="確定" required>
            <ion-select-option value="祈求平安康健">祈求平安康健</ion-select-option>
            <ion-select-option value="祈求事業順利">祈求事業順利</ion-select-option>
            <ion-select-option value="祈求學業進步">祈求學業進步</ion-select-option>
            <ion-select-option value="祈求家庭和樂">祈求家庭和樂</ion-select-option>
            <ion-select-option value="">其他</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">說明</ion-label>
          <ion-textarea formControlName="other" type="text"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="round" expand="block">確定修改</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>