<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<!-- <ion-tabs> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="desktop"></ion-icon>
      <ion-label>管理系統</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/make-appointment" class="ios" tab="make-appointment">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>新增平安燈</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
<!-- </ion-tabs> -->